.winners {
  padding: 25px 0;

  &__top {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  &__select-sort {
    padding: 5px 10px;
    border-radius: 8px;
  }

  &__headings {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0 0 20px 0;
    padding: 20px 0;
  }

  &__pagination {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.winners__headings-number,
.winners__item-number {
  flex-basis: 10%;
}

.winners__headings-image,
.winners__item-image {
  flex-basis: 20%;
}
.winners__headings-name,
.winners__item-name {
  flex-basis: 40%;
}
.winners__headings-wins,
.winners__item-wins {
  flex-basis: 15%;
}

.winners__headings-time,
.winners__item-time {
  flex-basis: 15%;
}
