.top {
  background-color: #e10600;
  color: #fff;
  padding: 10px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__logo {
    font-size: 48px;
    cursor: default;
  }

  &__menu {
    &-list {
      display: flex;
      align-items: center;
      gap: 10px 26px;
    }

    &-item {
      padding: 0 12px 10px 4px;
      border-right: 1px solid transparent;
      border-bottom: 1px solid transparent;
      border-bottom-right-radius: 10px;
      cursor: pointer;
      transition: all .3s;

      &:hover,
      &.active {
        border-right: 1px solid rgba(255, 255, 255, .6);
        border-bottom: 1px solid rgba(255, 255, 255, .6);
      }
    }
  }
}
