:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #222222;
  font-family: 'Sora', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-family: 'Bevan', serif;
}

ul {
  list-style: none;
}

input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  min-width: 500px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  text-transform: uppercase;
  margin: 0 0 15px;
}

.btn {
  background-color: transparent;
  font-family: inherit;
  font-size: 14px;
  line-height: 1;
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 8px;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: .3;
  }

  &__small {
    font-size: 12px;
    border-radius: 4px;
  }

  &__green {
    color: #16a085;
    border-color: #16a085;
  }

  &__gray {
    color: #7f8c8d;
    border-color: #7f8c8d;
  }

  &__red {
    color: #e10600;
    border-color: #e10600;
  }
}
